# Ignora TODO por defecto
*

# Permite explícitamente estos archivos:
!.gitignore
!README.md

# Notebooks clave (usa comillas para nombres con espacios)
!"Reconocimiento de Enfermedades del Maíz.ipynb"
!"red neuronal covulacional.ipynb.ipynb"
!"Transferencia de aprendizaje.ipynb"
!"red de clasificacion.ipynb"

